* {
    background-color: black;
    color: white;
}

body {
    max-width: 1000px;
    margin: auto;
    margin-top: 25px;
    padding: 0 10px 0 10px;
}

.logo {
    height: 70px;
    width:auto;
    margin-left: 50px;
}